.layout {
  display: flex;
}

.coupon-container {
  flex: 1;
  padding: 20px;
}

.coupon-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.coupon-quantity {
  margin-bottom: 10px;
}

.coupon-table {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.coupon-table table {
  width: 100%;
  border-collapse: collapse;
}

.coupon-table th,
.coupon-table td {
  padding: 8px;
  text-align: center;
}

.coupon-table th {
  background-color: #f2f2f2;
}

.coupon-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.coupon-table tbody tr:hover {
  background-color: #ddd;
}

.coupon-table button {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.coupon-table button.editCoupon {
  background-color: #008CBA;
  /* Blue */
}

.coupon-table button.deleteCoupon {
  background-color: #f44336;
  /* Red */
}

.coupon-popup-overlay1 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1001;
}

.coupon-popup1 {

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 400px;
  min-height: 300px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 20px;
  z-index: 1003;
  background-color: rgba(255, 255, 255, 0.9);
}

.coupon-popup-overlay,
.popup-overlay-update {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1001;
}

.coupon-popup,
.popup-update {
  /* display: none; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 400px;
  min-height: 300px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 20px;
  z-index: 1002;
  background-color: rgba(255, 255, 255, 0.9);
}

.coupon-popup .coupon-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #999999;
}

.coupon-popup h2,
.popup-update h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #333333;
}

.coupon-popup form,
.popup-update form {
  display: flex;
  flex-direction: column;
}

.coupon-popup input[type="text"],
.coupon-popup input[type="date"],
.popup-update input[type="text"],
.popup-update input[type="date"] {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.coupon-popup .input-group {
  display: flex;
  margin-bottom: 15px;
}

.coupon-popup .input-group input {
  flex: 1;
  margin-right: 10px;
}

.coupon-popup .input-group input:last-child {
  margin-right: 0;
}

.coupon-popup input[type="submit"],
.popup-update input[type="submit"] {
  padding: 12px 0;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.coupon-popup input[type="submit"]:hover,
.popup-update input[type="submit"]:hover {
  background-color: #0056b3;
}

.coupon-popup-overlay-delete {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1001;
}

.coupon-popup-delete {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1002;
}

.coupon-popup-delete h2 {
  margin-bottom: 20px;
  color: #333333;
  text-align: center;
}

.coupon-popup-delete p {
  margin-bottom: 20px;
  color: #666666;
  text-align: center;
}

.coupon-popup-delete button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 55px;
}

.coupon-popup-delete button:hover {
  background-color: #0056b3;
}

.coupon-search p {
  margin: 0;
  /* Loại bỏ margin mặc định của thẻ p */
  font-size: 20px;
  font-weight: bold;
}

.coupon-search-btn {
  display: flex;
  align-items: center;
}

.coupon-search-create {
  background-color: #008CBA;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.coupon-search-create:hover {
  background-color: #3172da;
}

.coupon-popup1 .coupon-close-btn1 {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #999999;
}

.coupon-popup1 h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #333333;
}

.coupon-popup1 form {
  display: flex;
  flex-direction: column;
}

.coupon-popup1 input[type="text"],
.coupon-popup1 input[type="date"] {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.coupon-popup1 .input-group {
  display: flex;
  margin-bottom: 15px;
}

.coupon-popup1 .input-group input {
  flex: 1;
  margin-right: 10px;
}

.coupon-popup1 .input-group input:last-child {
  margin-right: 0;
}

.coupon-popup1 input[type="submit"] {
  padding: 12px 0;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.coupon-popup1 input[type="submit"]:hover {
  background-color: #0056b3;
}

.coupon-popup-overlay-delete {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1001;
}

.coupon-popup-delete {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1002;
}

.coupon-popup-delete h2 {
  margin-bottom: 20px;
  color: #333333;
  text-align: center;
}

.coupon-popup-delete p {
  margin-bottom: 20px;
  color: #666666;
  text-align: center;
}

.coupon-popup-delete button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 55px;
}

.coupon-popup-delete button:hover {
  background-color: #0056b3;
}

.coupon-search p {
  margin: 0;
  /* Loại bỏ margin mặc định của thẻ p */
  font-size: 20px;
  font-weight: bold;
}

.coupon-search-btn {
  display: flex;
  align-items: center;
}