
/* searcg bar  */
.hotel-list-page {
    background-image: url("https://th.bing.com/th/id/R.a58d3f96c719a0e290df215fb32c20df?rik=o7vA8jsQSTNLxA&pid=ImgRaw&r=0") !important;
    height: 500px !important;
    position: relative;
    width: 100%;
}


.inner,
footer {
    padding: 64px 20px 0px;
    margin: 0 10%;
}

.gride.pc tbody {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}




.click-item:hover {
    color: blue;
    text-decoration: none;
}

.img-wrapper {
    max-width: 100%;
    height: 65vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.img-wrapper img{
 width: 100%;
 height: 100%;
 border-radius: 8px 8px 0 0;
}


@media screen and (min-width: 576px) {
    .carousel-inner {
        display: flex;
    }

    .carousel-item {
        display: block;
        margin: 0;
        flex: 0 0 calc(100% / 4);

    }

    .img-wrapper {
        height: 13vw;
    }
}

.card {
    margin: 0 0.4em;
    border-radius: 8px;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    font-size: 0.9em;
}

.card-body {
    height: 10rem;
}

.carousel-control-prev,
.carousel-control-next {
    width: 6vh;
    height: 6vh;
    background-color: #3365FF;
    border-radius: 50%;
    top: 58%;
    transform: translateY(-50%);
    opacity: 0.5;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    opacity: 0.9;
}

.budget-friendly,
.trending {
    margin-top: 80px;
}

.seo-htl-table-info {
    max-width: 100vw;
    margin-bottom: 48px;
}

.seo-htl-table-info h2 {
    margin-bottom: 24px;
    font-size: 28px;
    color: #0f294d;
    text-align: left;
    line-height: 34px;
    font-weight: 700;
}

.seo-htl-table-info table {
    border-radius: 8px;
    background-color: #fff;
    overflow: hidden;
    width: 100%;
    border: 1px solid #dadfe6;
    border-bottom: 0;
    border-right: 0;
    border-spacing: 0;
}

.carousel h2 {
    margin-bottom: 30px;
}

.card-text {
    margin: 15px 0px;
    color: #455873;
    font-weight: 350;
}

h5 {
    height: 30px;
    width: 240px;
    font-size: 1.125em;
    text-wrap: wrap;
}

.btn-primary {
    position: absolute;
    top: 89%;
    left: 35%;
    font-weight: bold;
    color: black;
    border: none;
    background-color: white;
}

.from {
    font-weight: 350;
    font-size: 13px;
    color: #455873;
}



table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: gray;
}

.seo-htl-table-info table td {
    line-height: 22px;
    font-size: 16px;
    font-weight: 700;
}

.seo-htl-table-info table td {
    word-break: break-all;
    word-wrap: break-word;
    padding: 0 20px;
    color: #0f294d;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.seo-htl-table-info table tr {
    border-right: 1px solid #dadfe6;
    border-bottom: 1px solid #dadfe6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 102px;
    padding: 0 10px;
    flex: 1;
}

.seo-htl-table-info table th {
    line-height: 18px;
    font-size: 14px;
    margin-bottom: 4px;
    font-weight: 400;
}

.seo-htl-table-info table tbody {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.seo-htl-table-info.pc {
    text-align: center;
    /* Canh nội dung vào trung tâm */
}

.seo-htl-table-info.pc table h2 {
    width: 100%;
    /* Thiết lập độ rộng là 80% */
    margin: 0 auto;
    /* Để căn giữa bảng */
}

.hotel-guide #guide_nav_v8 {
    border: 1px solid #f0f2f5;
    box-shadow: 0px 4px 8px 0px rgba(69, 88, 115, 0.12);
    border-radius: 8px 8px 8px 8px;
    background-color: #fff;
    padding: 16px 16px 16px 16px;
}

.hotel-guide .content-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color: #0f294d;
    margin-bottom: 8px;
}

.hotel-guide .content-content {
    color: #455873;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 16px;
}


.hotel-guide h2 {
    margin-bottom: 24px;
    font-size: 28px;
    color: #0f294d;
    text-align: left;
    line-height: 34px;
    font-weight: 700;
}

/* faq hotel */

.faq-title h2 {
    margin-bottom: 24px;
    font-size: 28px;
    color: #0f294d;
    text-align: left;
    line-height: 34px;
    font-weight: 700;
}

.faq-hotel {
    margin-top: 48px;
    margin-bottom: 48px;
}

.accordion-item {
    margin-bottom: 0;
    /* Remove bottom margin */
}

.accordion-button {
    color: #0f294d;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0px;
    line-height: 22px;
    border-bottom: none;
}

.accordion-body {
    color: #0f294d;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 22px;
    border-bottom: 1px solid #dadfe6;
}

.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0, 0, 0, .125);
}

/* recommendations */
.recommended .btn {
    display: inline-block;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    justify-content: center;
    height: 36px;
    margin-right: 8px;
    color: #0f294d;
    background-color: #f0f2f5;
    cursor: pointer;
    border: 1px solid none;
}

.recommended .row .col a {
    width: 25%;
    text-decoration: none;
    list-style-type: none;
    color: #0f294d;
    text-align: left;

    padding: 0 16px 16px 0;
    color: #0f294d;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    box-sizing: border-box;
}

.recommended .btn:hover {
    color: #3365FF;
    background-color: #f0f2f5;
}

.recommended .col-md-4 .btn:focus {
    background-color: #10294D;
    color: white;
}

.recommended .thetitle {
    font-size: 28px;
    color: #0f294d;
    font-weight: 700;
    line-height: 34px;
    margin-bottom: 24px
}

.recommended .collapse {
    box-shadow: 0px 4px 8px 0px rgba(69, 88, 115, 0.12);
    border: 1px solid #f0f2f5;
    border-radius: 8px;
}

.recommended .container-fluid {
    padding: 0;
}

.inforall {
    margin-bottom: 20px;
}

.recommended .thetitle {
    margin: 28px 0;
}

.recommended .container {
    width: 100%;
    margin: 0;
    padding: 16px 16px 16px 16px;
}

/* footer  */
footer img {
    width: 1176px;
    height: 499px;
}

.footer__main {
    display: flex;
    justify-content: space-between;
}

.footer__main .footer__item {
    text-align: left;
    width: 33.33%;
    align-items: center;
    align-content: center;
}

.footer__main .footer_links {
    font-size: 14px;
}

.footer__main {
    background-color: #ffffff;
    padding-bottom: 35px;
    font-size: 14px;
    color: #0f294d;
}

.footer__item img{
    width: 50px;
    height: 50px;
}

.footer__item a {
    margin-bottom: 2px;
    font-size: 12px;
    line-height: 1.5;
    margin: 0;
}

.footer__item h3 {
    font-size: 16px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 8px;
}

.footer__main {
    justify-content: center;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    padding-top: 32px;
    padding-bottom: 35px;
}

.Copyright p {
    text-align: center;
    font-size: 12px;
    padding-top: 32px;
    padding-bottom: 35px;

}


/* item ben phải  */
#mid {
    margin-right: 3px;
}

#service-chat {
    position: fixed;
    bottom: 338px;
    right: 20px;
    /* display: none; */
    width: 60px;
    height: 60px;
    text-align: center;
    background-color: blue;
    border: 1px solid blue;
}


#chatbot {
    position: fixed;
    bottom: 275px;
    right: 20px;
    /* display: none; */
    width: 60px;
    height: 60px;
    text-align: center;
    background-color: blue;
    border: 1px solid blue;
}

#btn-back-to-top {
    position: fixed;
    bottom: 400px;
    right: 20px;
    display: none;
    width: 60px;
    height: 60px;
    background-color: blue;
    border: 1px solid blue;
}

/* Dropdown */
@media (max-width :992px) {
    .toggle_btn{
        display: block;
    }
    .navbar1 ,.navi2{
        display: none;
    }
    .navi .row{
        display: flex;
    }
   .navi .row >*{
    width: 33.3%;
   }
   table{
    width:100%;
}

td{
    display:block;
    width:100%;
}

tr{
    display:block;
    margin-bottom:30px;
}
.seo-htl-table-info table tbody{
    display: block !important;
}

  #noi-dung-collapse1 .container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
    grid-row-gap: 10px;
  }
  #noi-dung-collapse1 .row {
    display: grid;
    text-align: center;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    font-size: 10px;
  }

  #noi-dung-collapse1 .col {
    width: 100%;
  }
  #noi-dung-collapse2 .container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
    grid-row-gap: 10px;
  }
  #noi-dung-collapse2 .row {
    display: grid;
    text-align: center;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    font-size: 10px;
  }

  #noi-dung-collapse2 .col {
    width: 100%;
  }
  #noi-dung-collapse3 .container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
    grid-row-gap: 10px;
  }
  #noi-dung-collapse3 .row {
    display: grid;
    text-align: center;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    font-size: 10px;
  }

  #noi-dung-collapse3 .col {
    width: 100%;
  }
  .recommended .btn{
    font-size: 10px !important;
  }
  
  .footer__main{
    display: grid;
    grid-template: 3fr 3fr/ 3fr 3fr;
    text-align: center;
    
  }

  .footer__main .footer__item{
    width: 90%;
  }


}