.nav-item .btn-group {
    margin-right: 50px;
    margin-top: 5px;
    /* margin-left : 20px; */
    width: 120px;

}

.nav-item .btn-group button {
    background-color: #fff;
    color: blue;
}
.dashboard{
    display: none;
}

.nav-item .dropdown-menu a {
    color: black;
}

.nav-item .dropdown-menu li:hover a {
    color: black;
}

body {
    background-color: whitesmoke;
}

@media (max-width:1029px) {
    table thead tr {
        display: none;
    }

    table tr {
        display: block;
    }

    .my-booking th,
    .my-booking td {
        padding   : 8px;
        text-align: end !important;
    }

    table td {

        display: block;

    }

    table td::before {
        content    : attr(data-title)":";
        float      : left;
        font-weight: 600;
    }
}




.body_container,
.footer__main {
    padding: 20px 20px 0px;
    margin: 0 10%;
}

.body_container,
.profile-head {
    display: flex;
    /* flex-direction: row;
    justify-content: space-between; */
    /* align-items : center; */
}

.my-booking,
.personal-info {
    display: none;
}

.account-email,
.account-pass,
.account-numberPhone,
.name,
.birth {
    background-color: whitesmoke;
    border-radius: 8px;
    width: 50%;
    height: 70px;
    margin: 0 20px;
    padding: 10px;
}

.account-secure,
.profile {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin-top: 10px;
}

.account {
    display: flex;
    /* flex-direction: ; */
}

.profile1,
.profile2 {
    display: flex;
    /* flex-direction: co; */
    /* margin        : 20px; */
    width: 90%;
    margin: 20px 0;
}

.body_left {
    width: 25%;
}

.body_right {
    /* border: 1px solid black; */
    width: 75%;
    margin-left: 20px;
}

.member {
    /* background-color: #fff; */
    height: 50px;
    margin-bottom: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.member i {
    margin-right: 5px;
    font-size: 30px;
    color: #3264ff;
}

.member span {
    margin: 0 10px;
}

.user-name,
.email-acc,
.pass-acc {
    font-weight: 700;
}

.update-pass-btn {
    color: #3264ff;
    text-decoration: underline;
    text-align: right;
    cursor: pointer;
    margin-left: 10px;
    border: none;
    background-color: whitesmoke;

}

.updateInfo,
.deleteUser {
    color: #3264ff;
    border: none;
    background-color: whitesmoke;
    border-radius: 8px;
    padding: 10px;
    margin: 0 20px;
}

.updateInfo:hover,
.deleteUser:hover {
    background-color: #3264ff;
    color: whitesmoke;
}

/* footer  */
footer img {
    width: 1176px;
    height: 499px;
}

.footer__main {
    min-width: 50%;
    padding: 64px 20px 0px;
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
}

.footer__main .footer__item {
    text-align: left;
    width: 33.33%;
    align-items: center;
    align-content: center;
}

.footer__main .footer_links {
    font-size: 14px;
}

.footer__main {
    background-color: #ffffff;
    padding-bottom: 35px;
    font-size: 14px;
    color: #0f294d;
}

.footer__item img {
    width: 50px;
    height: 50px;
}

.footer__item a {
    margin-bottom: 2px;
    font-size: 12px;
    line-height: 1.5;
    margin: 0;
}

.footer__item h3 {
    font-size: 16px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 8px;
}

.footer__main {
    justify-content: center;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    padding-top: 32px;
    padding-bottom: 35px;
}

.Copyright p {
    text-align: center;
    font-size: 12px;
    padding-top: 32px;
    padding-bottom: 35px;

}

.navbar-nav .dropdown-menu {
    position: absolute;
}

.main_body {
    margin-top: 70px;
}

/* 
.nav-item .btn-group {
    margin-right: 50px;
    margin-top: 5px;
    margin-left: 20px;
    width: 120px;
    
}

.nav-item .btn-group button{
    background-color: #fff;
    color: blue;
}
.nav-item .dropdown-menu a{
    color: black;
}
.nav-item .dropdown-menu li:hover a{
    color: black;
} */
.body_container {
    padding: 20px 20px 0px;
    margin: 0 10%;
}

.body_container,
.profile-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items : center; */
}


.account-secure,
.profile {
    /* margin-bottom: 30px; */
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.account {
    display: flex;
    /* flex-direction: ; */
}

.profile1,
.profile2 {
    display: flex;
    /* flex-direction: co; */
    /* margin        : 20px; */
    width: 90%;
    margin: 20px 0;
}

.body_left {
    width: 25%;
}

.list-group-item .active {
    background-color: #fff;
}

.user-info-item:hover,
.my-booking-item:hover,
.log-out-item:hover {
    cursor: pointer;
    background-color: #cccccc;
}

.empty-booking {
    background-color: white;
}

.empty-booking .col-7 {
    padding: 20px;
}


.body_right {
    /* border: 1px solid black; */
    width: 75%;
    margin-left: 20px;
}

.member {
    /* background-color: #fff; */
    height: 50px;
    margin-bottom: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.member i {
    margin-right: 5px;
    font-size: 30px;
    color: #3264ff;
}

.member span {
    margin: 0 10px;
}


#footer-bg {
    display: none;
}

@media (max-width:1237px) {}

@media (max-width:1150px) {
    .account {
        flex-wrap: wrap;
        gap: 10px;
    }

    .account>div {
        width: 100%;
    }
}

@media (max-width:1008px) {
    .profile-detail>div {
        display: block;

    }

    .profile-detail>div>div {
        width: 100%;
        margin-top: 10px;
    }
}

@media (max-width:720px) {
    .body_container {
        margin: 0 1%;
        justify-content: center;
    }

    .container-contentsb {
        display: none;
    }

    .footer__main {
        display: grid !important;
        grid-template: 3fr 3fr/ 3fr 3fr;
        text-align: center;
    }

    .footer__item {
        width: 100% !important;
    }

    .email-acc span {
        display: block;
        width: 80px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

}

@media (max-width:414px) {
    .account-secu h2 {
        font-size: 21px;
    }

    .pass-head {
        display: flex;
        align-items: center;
        gap: 2px;
    }

    .list-group-item {
        width: 90px;
    }

    .body_right>div {
        padding: 10px;
    }


    .nav-item .btn-group {
        margin-left: 0;
    }
}

*/ .popup-overlay-updateInfo,
.popup-overlay-update-pass {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.popup-overlay-updateInfo,
.popup-overlay-update-pass {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-updateInfo {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 400px;
    /* Kích thước tối thiểu */
    min-height: 300px;
    /* Kích thước tối thiểu */
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 20px;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.9);
    /* Màu nhạt cho nền */
    display: flex;
    flex-direction: column;
}

/* CSS cho nút đóng popup */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #999999;
}

/* CSS cho form trong popup */
.popup-updateInfo h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333333;
}

.popup-updateInfo form {
    display: flex;
    flex-direction: column;
}

.popup-updateInfo input[type="text"],
.popup-updateInfo input[type="email"],
.popup-updateInfo input[type="date"],
.popup-overlay-update-pass input[type="password"],
.popup-updateInfo select {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.popup-updateInfo .col-6 input[type="text"] {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.popup-updateInfo .input-group input:last-child {
    margin-right: 0;
}

.popup-updateInfo input[type="submit"] {
    padding: 12px 50px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.popup-updateInfo input[type="submit"]:hover {
    background-color: #0056b3;
}

.popup-delete,
.popup-confirm-pass {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1002;
}

.popup-delete h2,
.popup-confirm-pass h2 {
    margin-bottom: 20px;
    color: #333333;
    text-align: center;
}

.popup-delete p,
.popup-confirm-pass p {
    margin-bottom: 20px;
    color: #666666;
    text-align: center;
}

.popup-delete button,
.popup-confirm-pass button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 55px;
}

.popup-delete button:hover,
.popup-confirm-pass button:hover {
    background-color: #0056b3;
}

.my-booking {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.my-booking table {
    width: 100%;
    border-collapse: collapse;
}

.my-booking th,
.my-booking td {
    padding: 8px;
    text-align: center;
}

.my-booking th {
    background-color: white;
}

.my-booking tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.my-booking tbody tr:hover {
    background-color: #ddd;
}


.avatar-container {
    position: relative;
    margin-top: 100px;
}

.avatar {
    width: 80px;
    /* Adjust size as needed */
    height: 80px;
    /* Adjust size as needed */
    border-radius: 50%;
}

.booking-detail {
    margin-top: 100px;
}

.edit-button {
    position: absolute;
    top: 75%;
    /* Position at the bottom of the avatar */
    left: 40%;
    background: none;
    /* Remove background */
    border: none;
    /* Remove border */
    cursor: pointer;
    font-size: 16px;
    /* Adjust size of the icon */
    padding: 5px;
}

#confirmAvatarButton {
    display: block;
    margin-top: 10px;
    /* Adjust as needed */
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#confirmAvatarButton:hover {
    background-color: #45a049;
}

.member {
    text-align: center;
}

#message {
    margin-top: 10px;
    color: green;
}