<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ChatBot</title>
  </head>
  <body>

    <iframe
      id="RDELXUTDIE"
      loading="eager"
      src="https://embed.pickaxeproject.com/axe?id=CleanBot_Customer_Support_X82W2&mode=embed_gold&host=beta&theme=light&opacity=100&font_header=Real+Head+Pro&size_header=30&font_body=Real+Head+Pro&size_body=16&font_labels=Real+Head+Pro&size_labels=14&font_button=Real+Head+Pro&size_button=16&c_fb=FFFFFF&c_ff=FFFFFF&c_fbd=888888&c_bb=228DD7&c_bt=FFFFFF&c_t=000000&s_ffo=100&s_bbo=100&s_f=minimalist&s_b=filled&s_t=2&s_to=1&s_r=2"
      width="99%"
      height="725px"
      onMouseOver="this.style.boxShadow='0px 6px 6px -3px rgba(0,0,0,0.1)'"
      onMouseOut="this.style.boxShadow='none'"
      style="border:1px solid rgba(0, 0, 0, 1);transition:.3s;border-radius:4px;"
      frameBorder="0"
    ></iframe>
  </body>

</html>