<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chatbot</title>
    <link rel="stylesheet" href="/css/chatbot.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <!-- Add any other external stylesheets or fonts here -->
  </head>

  <body>
    <div class="layout-chatbot">
      <div class="chatbot-container">
        <div class="chatbot-container-header">
          <img
            class="chatbot-image"
            src="https://ps.w.org/user-avatar-reloaded/assets/icon-256x256.png?rev=2540745"
            alt=""
          />
          <div class="chatbot-container-header-content">
            <h3>Nguyen Quang</h3>
            <p>Agent<span>(Online)</span></p>
          </div>
        </div>
        <div class="chatbot-container-main">
          <div class="chatbot-container-main-left">
            <div class="chatbot-container-main-left-on">
              <div class="chatbot-container-main-left-on-agent">
                <img
                  class="chatbot-image"
                  src="https://ps.w.org/user-avatar-reloaded/assets/icon-256x256.png?rev=2540745"
                  alt=""
                />
                <p>Hey! There any question?</p>
              </div>
              <div class="chatbot-container-main-left-on-client">
                <p>Hello</p>
              </div>
            </div>
            <div class="chatbot-container-main-left-under">
              <div class="chatbot-container-main-left-under-icon">
                <i class="under-icon1 fas fa-camera"></i>
                <i class="under-icon1 fas fa-face-smile"></i>
                <i class="under-icon1 fas fa-paperclip"></i>
              </div>
              <div class="chatbot-container-main-left-under-input">
                <input
                  type="text"
                  class="input1"
                  placeholder="Please enter your question competely"
                />
                <input type="submit" class="input2" value="Send" />
              </div>
            </div>
          </div>
          <div class="chatbot-container-main-right"> </div>
        </div>
      </div>
    </div>
    lt ChatbotComponent;
  </body>

</html>