<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/payment.css" />
  </head>

  <body>
    <div class="container">
      <div class="title">
        <h2>Thanh toán</h2>
      </div>
      <div class="d-flex">
        <form action="" method="">
          <label>
            <span class="fname">Họ tên <span class="required">*</span></span>
            <input type="text" name="fname" id="fname" />
          </label>
          <label>
            <span>Năm sinh<span class="required">*</span></span>
            <input type="text" name="city" id="yearOfBirth" />
          </label>
          <label>
            <span class="cccd">Căn cước công dân
              <span class="required">*</span></span>
            <input type="text" name="cccd" id="cccd" />
          </label>
          <label>
            <span>Địa chỉ</span>
            <input type="text" name="dc" id="address" />
          </label>
          <label>
            <span>Số điện thoại<span
                class="required"
                id="phonenumber"
              >*</span></span>
            <input
              type="text"
              name="houseadd"
              id="phoneNumber"
              placeholder="0342730606"
              required
            />
          </label>
          <label>
            <span>Email Address
              <span class="required" id="email">*</span></span>
            <input type="email" name="email" id="emailAddress" />
          </label>
          <label>
            <span>Yêu cầu đặc biệt</span>
            <input
              type="text"
              name="request"
              id="specialRequest"
              placeholder=""
            />
          </label>
          <div class="vnpay-info">
            <input type="radio" name="dbt" value="dbt" checked />
            Thanh toán qua ngân hàng
          </div>
          <div class="cash-info">
            <input type="radio" name="dbt" value="cd" />
            Thanh toán trực tiếp
          </div>
          <div style="padding-top: 0;" class="place-order1">
            <button id="Order1" type="button">Place Order</button>
          </div><!-- Yorder -->
        </form>
        <div class="Yorder">
          <table>
            <tr>
              <th colspan="2">Đơn hàng của bạn</th>
            </tr>
            <tr>
              <td><span id="hotelName"></span></td>
              <td><span id="Price"></span></td>
            </tr>
            <tr>
              <td><span id="checkIn"></span></td>
              <td><span id="checkOut" style="color: #262626;"></span></td>
            </tr>
            <tr>
              <td>Số lượng phòng</td>
              <td><span id="manyRooms"></span></td>
            </tr>
            <tr>
              <td style="border: 0">Mã giảm giá</td>
              <td style="border: 0;"><input id="Coupon" type="text" /></td>
            </tr>
            <tr>
              <td></td>
              <td
                colspan="2"
                style="padding-top: 0;padding-bottom: 10px;"
              ><button id="applyCoupon">Apply</button></td>
            </tr>
            <tr>
              <td>Tổng cộng</td>
              <td id="totalPrice">2.300.000</td>
            </tr>
          </table><br />
          <div class="confirm">
            <p>Confirm</p>
          </div>
          <div class="vnpay">
            <input type="radio" name="dbt" value="dbt" checked />
            Thanh toán qua ngân hàng
          </div>
          <div class="cash">
            <input type="radio" name="dbt" value="cd" />
            Thanh toán trực tiếp
          </div>
          <div style="padding-top: 0;" class="place-order">
            <button id="Order" type="button">Place Order</button>
          </div><!-- Yorder -->
        </div>
      </div>
    </div>
    <a href="#" class="return">Quay lại trang chủ</a>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/js/payment.js"></script>

  </body>

</html>