    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/sidebar.css">
        <title>Document</title>
    </head>

    <body>
        <div class='sidebar'>
            <h1 class='logo'>Lasting Trip</h1>
            <div class='menu-container'>
                <h4 class='title'>Dashboard</h4>
                <h4 class='title'>Product</h4>
                <h4 class='title'>User</h4>
                <h4 class='title'>Order</h4>
                <h4 class='title'>Payment</h4>
                <h4 class='title'>Logout</h4>
            </div>
        </div>
    </body>

    </html>