<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>

    <!-- icon  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <!-- Bt  -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <!-- main  -->
    <link rel="stylesheet" href="/css/supplier.css" />

  </head>

  <body>
    <header>
      <div class="container-fluid navi">
        <div class="row">
          <div class="col-lg-6">
            <h1 style="color: #287DFA;"><a
                href="/"
                target="_blank"
              >LastingTrip</a></h1>
          </div>
        </div>
      </div>
      <div class="top_content">
        <div class="index_banner">
          <div class="banner_pic">
            <div class="pic_wrapper">
              <div class="banner_bg"></div>
            </div>
          </div>
          <div class="text_main">
            <h4 class="title">Hãy gia nhập cùng chúng tôi!</h4>
            <div class="index_top_join_mod">
              <div class="title_mod">
                <h4 class="tit_text">Trở thành nhà cung cấp của LastingTrip</h4>
                <p class="tit_tips">Giúp chúng tôi cung cấp những khách sạn
                  tuyệt vời cho khách hàng</p>
              </div>
              <div class="button">
                <a
                  type="button"
                  class="btn btn-outline-primary btn-lg"
                  href="/signin"
                  id="loggin"
                >
                  <span>Sign In</span>
                </a>
                <button
                  type="button"
                  class="btn btn-primary btn-lg"
                  id="register"
                >
                  <span>Get Started</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="index_content">
      <div class="text_content">
        <div class="title_mod">
          <h4 class="tit_text">Các loại hình có sẵn</h4>
          <p class="tit_tips">Các loại hình có sẵn</p>
        </div>
        <div class="business-list">
          <div class="business-row">
            <div class="business-item">
              <div class="business-title">
                <img
                  src="/image/BecomeSupplier/iconhotel.png"
                  alt="Hotel"
                  class="icon-business"
                />
                <div class="business-name" title="Hotel">Khách sạn</div>
              </div>
              <div class="business-content four-line">
                "Khách sạn &#8211; Khách s ạnlà là cơ sở kinh doanh cung cấp
                dịch vụ lưu trú với đầy đủ tiện nghi. Khách sạn có quy mô từ vài
                chục đến hàng nghìn phòng với các tiêu chuẩn và loại phòng khác
                nhau. Ngoài cung cấp dịch vụ lưu trú, Hotel còn cung cấp thêm
                các dịch vụ như ăn uống, đi lại, spa, sauna, buffet, dọn phòng,
                hội nghị, … Khách sạn thường được xây dựng tại trung tâm thành
                phố, khu du lịch trọng điểm.""
              </div>
            </div>
            <div class="business-item">
              <div class="business-title">
                <img
                  src="/image/BecomeSupplier/villaicon.png"
                  alt="Villa"
                  class="icon-business"
                />
                <div class="business-name" title="Homestay">Villa</div>
              </div>
              <div class="business-content four-line">
                Biệt thự là nhà ở riêng biệt có sân vườn, có hàng rào và lối ra
                vào riêng biệt, có số tầng chính không quá 3 tầng. Biệt thự có
                diện tích sàn, diện tích sử dụng lớn. Biệt thự được chủ sở hữu
                trang bị đầy đủ trang thiết bị, tiện nghi và nội thất. Sự riêng
                tư của biệt thự cao hơn chung cư và căn hộ dịch vụ.

              </div>
            </div>
            <div class="business-item">
              <div class="business-title">
                <img
                  src="/image/BecomeSupplier/homestayicon.png"
                  alt="Villa"
                  class="icon-business"
                />
                <div class="business-name" title="Homestay">Homestay</div>
              </div>
              <div class="business-content four-line">
                Homestay là loại hình dịch vụ lưu trú mà khách du lịch sẽ ăn
                &#8211; ở &#8211; ngủ &#8211; nghỉ tại nhà người dân bản địa,
                sống và sinh hoạt giống như một thành viên trong gia đình họ.
                Mặc dù, sống và sinh hoạt chung nhưng du khách cũng cần phải
                biết cách tôn trọng quy tắc, quyền riêng tư của chủ nhà.
              </div>
            </div>
          </div>
          <div class="text_content">
            <div class="title_mod">
              <h4 class="tit_text">Hãy gia nhập chúng tôi</h4>
              <p class="tit_tips">Chỉ với 4 bước đơn giản</p>
            </div>
            <ul class="index_info_list">
              <li class="info_li description">
                <div class="pic_mod icon01"></div>
                <p class="text_title">Hướng dẫn đăng kí</p>
              </li>
              <li class="info_li description">
                <div class="pic_mod icon02"></div>
                <p class="text_title">FAQ</p>
              </li>
              <li class="info_li description">
                <div class="pic_mod icon03"></div>
                <p class="text_title">Liên hệ</p>
              </li>
            </ul>
          </div>
          <div class="text_content">
            <div class="title_mod">
              <h4 class="tit_text" style="font-weight: bold;">Quy trình</h4>
              <p class="tit_tips">Tham gia ngay chỉ với 4 bước</p>
              <ul class="index_info_list">
                <li class="info_li">
                  <div class="pic_mod progress">01</div>
                  <h5 class="text_title">Gửi đơn đăng kí</h5>
                  <p class="text_tips">Khoảng 1 giờ trong ngày làm việc</p>
                </li>
                <li class="info_li">
                  <div class="pic_mod progress">02</div>
                  <h5 class="text_title">Đánh giá đơn đăng kí</h5>
                  <p class="text_tips">Khoảng 2-3 ngày làm việc</p>
                </li>
                <li class="info_li">
                  <div class="pic_mod progress">03</div>
                  <h5 class="text_title">Kí kết hợp đồng</h5>
                  <p class="text_tips">Khoảng 1 ngày làm việc</p>
                </li>
                <li class="info_li">
                  <div class="pic_mod progress">04</div>
                  <h5 class="text_title">Thành công</h5>
                  <p class="text_tips">Chúc mừng đã gia nhập cùng LastingTrip!</p>
                </li>
              </ul>
            </div>
          </div>

          <!-- Why choose  -->
          <div class="text_content">
            <div class="title_mod">
              <h4 class="tit_text">Tại sao lại chọn LastingTrip</h4>
              <p class="tit_tips">Khi tham gia với chúng tôi, bạn sẽ được hỗ trợ
                những điều sau</p>

              <div class="tips_wrap">

                <div class="index_info_list advantage">
                  <div class="advan_info_cont">
                    <div class="pic_mod">Chăm sóc khách hàng</div>
                    <ul class="text_list">
                      <li class="text_li">
                        Chăm sóc khách hàng 24/7
                      </li>
                      <li class="text_li">
                        Tài chính độc quyền
                      </li>
                      <li class="text_li">
                        Hệ thống đánh tin cậy
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="index_info_list advantage">
                  <div class="advan_info_cont">
                    <div class="pic_mod">Nên tảng tất cả trong một</div>
                    <ul class="text_list">
                      <li class="text_li">
                        Kết nối với 63 tỉnh thành
                      </li>
                      <li class="text_li">
                        Có hơn 1000 doanh nghiệp đã hợp tác
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="footer__main">
        <div class="footer__item">
          <h3>Liên hệ</h3>
          <a href="" class="footer_links">Chăm sóc khách hàng</a><br />
          <a href="" class="footer_links">Đảm bảo dịch vụ</a><br />
          <a href="" class="footer_links">Thêm thông tin về dịch vụ</a><br />
          <a href="" class="footer_links">Website Feedback</a><br />

        </div>
        <div class="footer__item">
          <h3>Về chúng tôi</h3>
          <a href="" class="footer_links">Giới thiệu về LastingTrip.com</a><br
          />
          <a href="" class="footer_links">Tin tức</a><br />
          <a href="" class="footer_links">Tuyển dụng</a><br />
          <a href="" class="footer_links">Điều khoản &amp; Điều kiện</a><br />
          <a href="" class="footer_links">Chính sách quyền riêng</a><br />
        </div>
        <div class="footer__item">
          <h3>Dịch vụ khác</h3>
          <a href="" class="footer_links">Nhà đầu tư</a><br />
          <a href="" class="footer_links">Phần thưởng Lasting.com</a><br />
          <a href="" class="footer_links">Chương trình liên kết</a><br />
          <a href="" class="footer_links">Liệt kê tài sản của tôi</a><br />
          <a href="" class="footer_links">Tất cả khách sạn</a><br />
          <a href="" class="footer_links">Trở thành nhà cung cấp</a><br />
          <a href="" class="footer_links">An ninh</a>
        </div>

      </div>
      <div class="Copyright">
        <p>
          Copyright &copy; 2024 LastingTrip.com. Nhóm 11 - NT208. All rights
          reserved
        </p>
      </div>
    </footer>

    <script>
      document.getElementById("register").addEventListener("click", function
      (event) { event.preventDefault(); var href = this.getAttribute("href");
      localStorage.setItem("type", "owner"); window.location.href =
      "/register/"; });
      document.getElementById("loggin").addEventListener("click", function
      (event) { event.preventDefault(); var href = this.getAttribute("href");
      localStorage.setItem("type", "owner"); window.location.href = "/signin/";
      });

    </script>

    <!-- tv ho tro  -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <!-- js -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>

  </body>
</html>