<div class="back-to-top">
  <!-- Back to top button -->
  <button
    type="button"
    class="btn btn-danger btn-floating btn-lg"
    id="btn-back-to-top"
  >
    <i class="fas fa-arrow-up" id="mid"></i>
  </button>
</div>

<div class="service-chat">
  <button
    type="button"
    class="btn btn-danger btn-floating btn-lg"
    id="service-chat"
  >
    <i class="fa-solid fa-headset" id="mid"></i>
  </button>
</div>

<div class="chatbot">
  <button type="button" class="btn btn-danger btn-floating btn-lg" id="chatbot">
    <i class="fa-solid fa-robot" id="mid"></i>
  </button>
</div>
<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
></script>
<script src="../js/backToTop.js"></script>