<form name="reviewForm" id="reviewForm" method="post" action="">
  <table style="border-collapse: collapse;">
    <tr>
      <td style="padding: 5px 10px;">Đánh giá số sao</td>
      <td style="padding: 5px 10px;">
         {{>starRating}} 
      </td>
    </tr>
    <tr>
      <td style="padding: 5px 10px;">Nội dung</td>
      <td style="padding: 5px 10px;">
        <textarea style="border: solid 1px #ddd; padding: 5px 20px; width: 80%;" cols="30" rows="10" name="content"></textarea>
      </td>
    </tr>
    <tr>
      <td style="padding: 5px 10px;">Tệp tin</td>
      <td style="padding: 5px 10px;">
        <input type="file" name="file" id="fileInput" onchange="previewImage()" />
        <br>
        <img id="preview" src="#" alt="Hình ảnh xem trước" style="max-width: 200px; display: none;">
      </td>
    </tr>
    <tr>
      <td style="padding: 5px 10px;"></td>
      <td style="padding: 5px 10px;">
        <input type="submit" style="width: auto; background: red; color: #fff; border: none; padding: 5px 20px;" value="Gửi feedback" onclick="resetPreview()" />
      </td>
    </tr>
  </table>
</form>

<script>
  function previewImage() {
    var fileInput = document.getElementById('fileInput');
    var preview = document.getElementById('preview');

    // Kiểm tra xem người dùng đã chọn tệp tin hay chưa
    if (fileInput.files && fileInput.files[0]) {
      var reader = new FileReader();

      reader.onload = function(e) {
        preview.src = e.target.result;
        preview.style.display = 'block';
      }

      reader.readAsDataURL(fileInput.files[0]);
    }
  }

  function resetPreview() {
    var preview = document.getElementById('preview');
    preview.src = '';
    preview.style.display = 'none';
  }
</script>
