<footer>
  <img src="/image/FooterImage/footer.jpg" alt="footer_img" id="footer-bg" />
  <div class="footer__main">
    <div class="footer__item">
      <h3>Liên hệ</h3>
      <a href="http://localhost:3030/chatbot" class="footer_links">Chăm sóc
        khách hàng</a><br />
      <a href="http://localhost:3030/chatbot" class="footer_links">Đảm bảo dịch
        vụ</a><br />
      <a href="http://localhost:3030/chatbot" class="footer_links">Thêm thông
        tin về dịch vụ</a><br />
      <a href="http://localhost:3030/chatbot" class="footer_links">Website
        Feedback</a><br />

    </div>
    <div class="footer__item">
      <h3>Về chúng tôi</h3>
      <a href="http://localhost:3030/aboutUs" class="footer_links">Giới thiệu về
        LastingTrip.com</a><br />
      <a href="http://localhost:3030/aboutUs" class="footer_links">Tin tức</a><br
      />
      <a href="http://localhost:3030/aboutUs" class="footer_links">Tuyển dụng</a><br
      />
      <a href="http://localhost:3030/aboutUs" class="footer_links">Điều khoản
        &amp; Điều kiện</a><br />
      <a href="http://localhost:3030/aboutUs" class="footer_links">Chính sách
        quyền riêng</a><br />
    </div>
    <div class="footer__item">
      <h3>Dịch vụ khác</h3>
      <a href="http://localhost:3030/supplier" class="footer_links">Chương trình
        liên kết</a><br />
      <a href="http://localhost:3030/userInfor" class="footer_links">Liệt kê tài
        sản của tôi</a><br />
      <a href="http://localhost:3030/hotelList" class="footer_links">Tất cả
        khách sạn</a><br />
      <a
        href="http://localhost:3030/supplier"
        target="_blank"
        class="footer_links"
      >Trở thành nhà cung cấp</a><br />
      <a href="" class="footer_links">An ninh</a>
    </div>
    <div class="footer__item tt" id="tt">
      <h3>Thanh toán</h3>
      <div id="imgTT">
        <a href="" class="footer_links"><img
            src="/image/PaymentMethod/visa.webp"
            alt=""
          /></a>
      </div>

    </div>

  </div>
  <div class="Copyright">
    <p>
      Copyright &copy; 2024 LastingTrip.com. Nhóm 11 - NT208. All rights
      reserved
    </p>
  </div>
</footer>