<header>
  <div class="container-fluid navi">
    <div class="row">
      <div class="col-lg-2">
        <h1 style="color: white; !important"><a
            href="/"
            target="_blank"
          >LastingTrip</a></h1>
      </div>
      <div class="col-lg-5">
        <nav
          class="navbar navbar-expand-lg navbar-expand-md navbar-expand-sm justify-content-start"
        >
          <div class="navbar1">
            <ul class="navi navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/hotelList">Khách sạn</a>
              </li>
              <li class="nav-item">
                <a class="nav-link toUserInfo">Danh sách đặt phòng</a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="/supplier"
                  target="_blank"
                  id="supplierTime"
                >Trở thành nhà cung cấp</a>
              </li>
              <li class="nav-item">
                <!-- <a class="nav-link" ><strong>...</strong></a> -->
              </li>
            </ul>
          </div>

        </nav>

      </div>

      <div class="col-lg-5">
        <nav
          class="navi2 navbar navbar-expand-lg navbar-expand-md navbar-expand-sm justify-content-end"
        >
          <div class="navbar1">
            <ul class="navi navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/chatbot">Hỗ trợ khách hàng</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/aboutUs">About Us</a>
              </li>
              <li id="nav-login" class="nav-item">
                <a href="/signin"><button
                    type="button"
                    class="header-register-btn"
                  >Sign in/ Sign up</button>
                </a>
              </li>
            </ul>
          </div>

        </nav>
        <div class="toggle_btn"> <i class="fa fa-bars"></i></div>
      </div>
    </div>
    <div class="dropdown_menu">
      <li><a class="nav-link" href="/hotelList" target="_blank">Khách sạn</a></li>
      <li><a class="nav-link toUserInf">Danh sách đặt phòng</a></li>
      <li><a class="nav-link" href="/supplier" target="_blank">Trở thành nhà
          cung cấp</a></li>
      <li><a class="nav-link" href="/chatbot">Hỗ trợ khách hàng</a></li>
      <li id="account"><a type="button" class="nav-link" href="/signin">Sign in/
          Sign up</a></li>

    </div>
  </div>

</header>
<script src="../js/header.js"></script>
<link rel="stylesheet" href="/css/header.css" />