*{
    font-family: Ubuntu, sans-serif;
}
.layout-log-in{
    background: url("https://cf.bstatic.com/xdata/images/hotel/max1024x768/257257308.jpg?k=ab9c9ea9ed54eeefacea7bb3015064dbcccb9a0091e9f68c3d4d05501c19139a&o=&hp=1");
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    
}
.log-in-container{
    background-color: #fff;
    border-radius: 1.5em;
    box-shadow: 0 11px 35px 2px #00000024;
    margin: 7em auto;
    padding: 10px 0;
    width: 400px;   
    margin-top: 180px;
    
}
.log-in-text{
    display: flex;
    color: #66bce8;
    font-size: 23px;
    padding-top: 40px;
    font-family: Ubuntu, sans-serif;
    font-weight: 700;
    justify-content: center;
    padding-bottom: 51px;

}
.log-in-form-name{
    background: #887e7e0a;
    border: 2px solid #00000005;
    border-radius: 20px;
    box-sizing: border-box;
    color: #263238;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 27px;
    margin-left: 46px;
    outline: none;
    padding: 10px 20px;
    text-align: center;
    width: 76%;
}
.log-in-form-pw{
    background: #887e7e0a;
    border: 2px solid #00000005;
    border-radius: 20px;
    box-sizing: border-box;
    color: #263238;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 27px;
    margin-left: 46px;
    outline: none;
    padding: 10px 20px;
    text-align: center;
    width: 76%;
}
.log-in-form-sm{
    background:  linear-gradient(235deg, #6cb2e4, #2697e8);
    border: 0;
    border-radius: 5em;
    box-shadow: 0 0 20px 1px #0000000a;
    color: #fff;
    cursor: pointer;
    font-family: Ubuntu, sans-serif;
    font-size: 13px;
    margin-left: 35%;
    padding: 10px 40px;
    margin-bottom: 20px;
    
}